<!doctype html>
<html class="no-js " lang="en">
<head>

    <!-- Basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    
    <!-- Mobile Meta -->
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    
    <!-- Site Meta -->
    <title>MRS</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    
    <!-- Site Icons -->
    <link rel="shortcut icon" href="/static/images/mrs_ico.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" href="/static/images/mrs_icon.png">

	<!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500,700,900" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css?family=Droid+Serif:400,400i,700,700i" rel="stylesheet"> 
	
    <!-- Custom & Default Styles -->
	<link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/css/carousel.css">
    <link rel="stylesheet" href="/static/css/animate.css">
    <link rel="stylesheet" href="/static/base_style.css">

    {% block styles %}
    {% endblock styles %}

</head>
<body>
    <!-- BEGIN # MODAL Search -->
    <div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- Begin # DIV Form -->
                <div id="div-forms">
                    <form id="login-form" method="GET" action="{% url 'movies:search' %}">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span class="flaticon-add" aria-hidden="true"></span>
                        </button>
                        <div class="modal-body">
                            <input class="form-control" type="text" name="keyword"
                                placeholder="🔎 [제목, 감독, 출연진]으로 영화를 검색해보세요." required>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- END # MODAL Search -->

    <!-- navbar -->
    {% block navbar %}
    <header class="header header-normal">
        <div class="container">
            {% include 'partials/navbar.html' %}
        </div>
    </header>
    {% endblock navbar %}

    <!-- main content -->
    {% block main-content %}
    {% endblock main-content %}

    <!-- footer -->
    {% include 'partials/footer.html' %}

</body>
</html>

<!-- jQuery Files -->
<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/my_carousel.js"></script>
<script src="/static/js/animate.js"></script>
<script src="/static/js/custom.js"></script>

<!-- VIDEO BG PLUGINS -->
<script src="/static/js/videobg.js"></script>

<!-- Vue.js -->
<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

<!-- script -->
{% block scripts %}
{% endblock scripts %}