{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Base Document</title>
</head>
<body>
    <title>영화 검색 test</title>
    {% include "movies/navbar.html" %}
    <div class="container" id="content">
        {% block content %}

        {% endblock content %}
    </div>
</body>
</html>

<script>
    $(document).ready(function() {
        $('select[name=genre_num]').change(function () {
            console.log($('select[name=genre_num]').val());
            $('#genre_num').submit();
        });
    });
</script>