{% extends 'partials/base.html' %}

{% block styles %}
<!-- <link rel="stylesheet" href="/static/css/prettyPhoto.css"> -->
<link rel="stylesheet" href="/static/my_style.css">
{% endblock styles %}


{% block main-content %}

<header class="header header-normal">
    <div class="container">
        {% include 'partials/navbar.html' %}
    </div><!-- end container -->
</header>

<section class="section lb p120">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="tagline-message page-title text-center">
                    <h3> {{ genre.type }} </h3>
                    <ul class="breadcrumb">
                        <li><a href="javascript:void(0)">Home</a></li>
                        <li class="active">Genre</li>
                    </ul>
                </div>
            </div><!-- end col -->
        </div><!-- end row -->
    </div><!-- end container -->
</section><!-- end section -->

<section class="section gb nopadtop" id="data-area">
    <div class="container">
        <div class="boxed boxedp4">
            <div class="shop-top">
                <div class="clearfix">
                    <div class="pull-left">
                        <input type="hidden" class="genre_num" v-model="genre_num" value="{{ genre.no }}">
                        <p> Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }} </p>
                    </div>
                    <div class="pull-right">
                    <select class="selectpicker">
                        <option> 평점순 </option>
                        <option> 최신순 </option>
                        <option> 제목 오름차순 </option>
                        <option> 제목 내림차순 </option>
                    </select>
                    </div>
                </div>
            </div>

            <div class="row blog-grid shop-grid">
                {% for movie in movie_list %}
                <div class="col-md-3">
                    <div class="course-box shop-wrapper">
                        <div class="image-wrap entry">
                            <img src="{{ movie.poster }}" alt="" class="img-responsive" style="height: 300px;">
                            <div class="magnifier">
                                <a href="{% url 'movies:detail' movie.id %}" title=""><i class="flaticon-add"></i></a>
                            </div>
                        </div>
                        <!-- end image-wrap -->
                        <div class="course-details shop-box text-center">
                            <h4>
                                <a href="'#'" title=""> {{ movie.title | truncatechars:13 }} </a>
                                <small> {{ movie.release_date }} </small>
                            </h4>
                        </div>
                        <!-- end details -->
                        <div class="course-footer clearfix">
                            <div class="pull-left">
                                <ul class="list-inline">
                                    <li><a href="#"><i class="fa fa-clock-o"></i> {{ movie.running_time }}분 </a></li>
                                </ul>
                            </div><!-- end left -->

                            <div class="pull-right">
                                <ul class="list-inline">
                                    <li><a href="#"> <i class="fa fa-star" style="color: #82b440;"></i>{{ movie.avg_grade }} </a></li>
                                </ul>
                            </div><!-- end left -->
                        </div><!-- end footer -->
                    </div><!-- end box -->
                </div><!-- end col -->
                {% endfor %}

            <hr class="invis">

            <div class="row text-center">
                <div class="col-md-12">
                    <ul class="pagination">
                        {% if page_obj.has_previous %}
                            <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
                        {% else %}
                            <li class="disabled"><a href="#">&laquo;</a></li>
                        {% endif %}

                        {% for index in page_list %}
                            {% if index == page_obj.number %}
                                <li class="active"><a href="#">{{ index }}</a></li>
                            {% else %}
                                <li><a href="?page={{ index }}">{{ index }}</a></li>
                            {% endif %}
                        {% endfor %}

                        {% if page_obj.has_next %}
                            <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
                        {% else %}
                            <li class="disabled"><a href="#">&raquo;</a></li>
                        {% endif %}
                    </ul>

                </div><!-- end col -->
            </div><!-- end row -->
        </div>
    </div><!-- end container -->
</section>

{% endblock main-content %}