<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'home' %}">MSR</a>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="#">Login</a>
                </li>
                <li class="nav-item">
                    {% if user.is_authenticated %}
                        {{ user.username }} 님 환영합니다!
                    {% endif %}
                </li>
            </ul>
        </div>
    </div>
</nav>