<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>HOME TEST</h1>
    
    {% if user.is_authenticated %}
        <p> {{ user.username }} </p>
    {% endif %}

    <p> <a href="{% url 'users:signup' %}">회원가입</a> </p>
    <p> <a href="{% url 'users:signin' %}">로그인</a> </p>
    <p> <a href="{% url 'users:signout' %}">로그아웃</a> </p>

</body>
</html>