{% extends 'partials/base.html' %}
{% block main-content %}

    <!-- LOADER -->
    <div id="preloader">
        <img class="preloader" src="/static/images/loader.gif" alt="">
    </div><!-- end loader -->
    <!-- END LOADER -->

    <div id="wrapper">

        {% block navbar %}
        <header class="header">
            <div class="container">
                {% include 'partials/navbar.html' %}
            </div><!-- end container -->
        </header>
        {% endblock navbar %}

        <section id="home" class="video-section js-height-full">
            <div class="overlay"></div>
            <div class="home-text-wrapper relative container">
                
                <div class="home-message">
                    {% if not user.is_authenticated %}
                    <p>Movie Recommend System</p>
                    <small> 상영작과 OTT 서비스를 한 번에! 손쉽게 영화를 선택하세요 :) </small>
                    <div class="btn-wrapper">
                        <div class="text-center">
                            <a href="{% url 'users:login' %}" class="btn btn-primary wow slideInLeft" > Sign in </a> &nbsp;&nbsp;&nbsp;
                            <a href="{% url 'users:register' %}" class="btn btn-default wow slideInRight"> Sign up </a>
                        </div>
                    </div><!-- end row -->
                    {% else %}
                    <section class="section recom">
                        <div class="container">
                            <div class="section-title text-center">
                                <h3 style="color: white;"> 당신의 취향을 저격할 영화 </h3>
                            </div><!-- end title -->
                            <div id="owl-01" class="owl-carousel owl-theme owl-theme-01">
                                {% for p in personal %}
                                    <div class="caro-item">
                                        <div class="course-box">
                                            <div class="image-wrap entry">
                                                <img src="/static/imgs/{{p.id}}.png" alt="" class="img-responsive">
                                                <div class="magnifier">
                                                    <a href="{% url 'movies:detail' p.id %}" title=""><i class="flaticon-add"></i></a>
                                                </div>
                                            </div><!-- end image-wrap -->
                                        </div><!-- end box -->
                                    </div><!-- end col -->
                                {% endfor %}
                            </div>
                        </div>
                    </section>
                    {% endif %}
                </div>
            </div>

            <div class="slider-bottom">
                {% if not user.is_authenticated %}
                <span> 시작하기
                    <a href="#main"><i class="fa fa-angle-down"></i></a>
                </span>
                {% else %}
                <span> 더보기
                    <a href="#main"><i class="fa fa-angle-down"></i></a>
                </span>
                {% endif %}
            </div>

        </section>


        <div id="main">
            {% if user.is_authenticated and input_movie is not None %}
            <section class="section owl gb">
                <div class="container">
                    <div class="section-title text-center">
                        <h3> 내가 본 "{{ input_movie }}"과 포스터 분위기가 비슷한 </h3>
                    </div><!-- end title -->
                    <div id="owl-01" class="owl-carousel owl-theme owl-theme-01">
                        {% for p_img in personal_img %}
                            <div class="caro-item">
                                <div class="course-box">
                                    <div class="image-wrap entry">
                                        <img src="/static/imgs/{{p_img.id}}.png" alt="" class="img-responsive">
                                        <div class="magnifier">
                                            <a href="{% url 'movies:detail' p_img.id %}" title=""><i class="flaticon-add"></i></a>
                                        </div>
                                    </div><!-- end image-wrap -->
                                </div><!-- end box -->
                            </div><!-- end col -->
                        {% endfor %}
                    </div>
                </div>
            </section>
            {% endif %}

            <section class="section owl gb">
                <div class="container">
                    <div class="section-title text-center">
                        <h3> BoxOffice Top Rank </h3>
                    </div><!-- end title -->
                    <div id="owl-01" class="owl-carousel owl-theme owl-theme-01">
                        {% for box in box_list %}
                            <div class="caro-item">
                                <div class="course-box">
                                    <div class="image-wrap entry">
                                        <img src="/static/imgs/{{box.movie_id.id}}.png" alt="" class="img-responsive">
                                        <div class="magnifier">
                                            <a href="{% url 'movies:detail' box.movie_id.id %}" title=""><i class="flaticon-add"></i></a>
                                        </div>
                                    </div><!-- end image-wrap -->
                                </div><!-- end box -->
                            </div><!-- end col -->
                        {% endfor %}
                    </div>
                </div>
            </section>
            
            <section class="section owl">
                <div class="container">
                    <div class="section-title text-center">
                        <h3> Upcomming Top Rank </h3>
                    </div><!-- end title -->
                    <div id="owl-01" class="owl-carousel owl-theme owl-theme-01">
                        {% for upcom in up_list %}
                            <div class="caro-item">
                                <div class="course-box">
                                    <div class="image-wrap entry">
                                        <img src="/static/imgs/{{upcom.movie_id.id}}.png" alt="" class="img-responsive">
                                        <div class="magnifier">
                                            <a href="{% url 'movies:detail' upcom.movie_id.id %}" title=""><i class="flaticon-add"></i></a>
                                        </div>
                                    </div><!-- end image-wrap -->
                                </div><!-- end box -->
                            </div><!-- end col -->
                        {% endfor %}
                    </div>
                </div>
            </section>

            {% for idx, mList in recomm_list.items %}
            <section class="section owl">
                <div class="container">
                    <div class="section-title text-center">
                        <h3> {{ mList.recom_title }} </h3>
                    </div><!-- end title -->
                    <div id="owl-01" class="owl-carousel owl-theme owl-theme-01">
                        {% for movie in mList.query %}
                            <div class="caro-item">
                                <div class="course-box">
                                    <div class="image-wrap entry">
                                        <img src="/static/imgs/{{ movie.id }}.png" alt="" class="img-responsive">
                                        <div class="magnifier">
                                            <a href="{% url 'movies:detail' movie.id %}" title=""><i class="flaticon-add"></i></a>
                                        </div>
                                    </div><!-- end image-wrap -->
                                </div><!-- end box -->
                            </div><!-- end col -->
                        {% endfor %}
                    </div>
                </div>
            </section>
            {% endfor %}

            <section class="section db">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4 col-md-4">
                            <div class="stat-count">
                                <h4 class="stat-timer">1660</h4>
                                <h3><i class="flaticon-black-graduation-cap-tool-of-university-student-for-head"></i> Moives </h3>
                                <p> 등록된 한국, 미국 영화 </p>
                            </div><!-- stat-count -->
                        </div><!-- end col -->
                        <div class="col-lg-4 col-md-4">
                            <div class="stat-count">
                                <h4 class="stat-timer">489</h4>
                                <h3><i class="flaticon-online-course"></i> Users </h3>
                                <p> 서비스를 이용 중인 사용자 </p>
                            </div><!-- stat-count -->
                        </div><!-- end col -->
                        <div class="col-lg-4 col-md-4">
                            <div class="stat-count">
                                <h4 class="stat-timer">8901</h4>
                                <h3><i class="flaticon-coffee-cup"></i> Reviews </h3>
                                <p> 사용자들이 기록한 리뷰 </p>
                            </div><!-- stat-count -->
                        </div><!-- end col -->
                    </div><!-- end row -->
                </div><!-- end container -->
            </section>
        </div>
    </div><!-- end wrapper -->

{% endblock main-content %}
