<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>

    <h1>회원가입 TEST</h1>
    <p>필요한 정보를 입력해주세요.</p>

    {% if form.errors %}
    <div class="alert alert-danger">
        <div class="font-weight-bold">입력한 값이 정확하지 않습니다. 다시 확인하세요. </div>
        {{ form.errors }}
    </div>
    {% endif %}

    <form action="." method="post" class="card pt-3">
        {% csrf_token %}
    
        {{ form.as_div }}
        
        <div class="form-group">
            <div class="offset-sm-5 col-sm-6">
                <input type="submit" value="Register" class="btn btn-info col-sm-8">
            </div>
        </div>
    </form>
    
</body>
</html>