{% extends 'partials/base.html' %}

{% block styles %}
<!-- <link rel="stylesheet" href="/static/css/prettyPhoto.css"> -->
<link rel="stylesheet" href="/static/my_style.css">
{% endblock styles %}


{% block main-content %}

<header class="header header-normal">
    <div class="container">
        {% include 'partials/navbar.html' %}
    </div><!-- end container -->
</header>

<section class="section db p120">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="tagline-message page-title text-center">
                    <h3>📝 Update</h3>
                    <ul class="breadcrumb">
                        <li><a href="javascript:void(0)">Edulogy</a></li>
                        <li class="active">Update</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="section gb nopadtop">
    <div class="container">
        <div class="boxed boxedp4">

            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <div class="section-title text-center form-group">
                        <h4> 💾 개인 정보 변경하기 💾 </h4>
                    </div><!-- end title -->

                    <form class="big-contact-form" name="updateForm" method="POST">
                        {% csrf_token %}

                        <label for="email"> Email address : </label>
                        <input type="email" name="{{ form.email.name }}" id="email" class="form-control" value="{{ form.email.value }}" readonly>
                        <label for="password"> Password : </label>
                        <input type="button" name="{{ form.password.name }}" id="password" class="form-control" value="변경하기"> 

                        <hr/>

                        <label for="id_name"> Nickname : </label>
                        <input type="text" name="{{ form.username.name }}" id="username" class="form-control" value="{{ form.username.value }}" required>

                        <p>
                            <label for="id_name"> Gender : </label> &nbsp;
                            {% if form.gender.value == 'f' %}
                                <input type="radio" name="{{ form.gender.name }}" value="m"> male <input type="radio" name="{{ form.gender.name }}" value="f" checked> female 
                            {% else %}
                                <input type="radio" name="{{ form.gender.name }}" value="m" checked> male <input type="radio" name="{{ form.gender.name }}" value="f"> female 
                            {% endif %}
                        </p>

                        <label for="id_name"> Date of birth : </label>
                        <input type="date" name="{{ form.birth.name }}" class="form-control" value="{{ form.birth.value|date:'Y-m-d' }}" readonly>

                        <p></p>

                        <label for="id_name"> Preference Genre : </label>
                        <div>
                            {% for genre in genre_list %}
                                {% if forloop.counter == 6 or forloop.counter == 11 or forloop.counter == 16 or forloop.counter == 21 %}
                                <p></p>
                                {% endif %}

                                {% if genre.type in form.preference_genre.value %}
                                    <input type="checkbox" name="pf_genre" value="{{ genre.type }}" checked> {{ genre.type }} &nbsp;&nbsp;
                                {% else %}
                                    <input type="checkbox" name="pf_genre" value="{{ genre.type }}"> {{ genre.type }} &nbsp;&nbsp;
                                {% endif %}
                            {% endfor %}
                        </div>
                        <input type="hidden" name="{{ form.preference_genre.name }}" id="preference_genre">

                        <br>

                        <button type="button" class="btn btn-default" onclick="location.href='{% url 'home' %}'">Cancel</button>
                        <button type="button" class="btn btn-primary" onclick="memberUpdate()">Submit</button>
                    </form>
                </div><!-- end col -->
            </div><!-- end row -->
        </div><!-- end container -->
    </div>
</section>

{% endblock main-content %}

{% block scripts %}

<script>

    // 오류 메시지 출력
    function showErrorMsg(oMsg, msg) {
        oMsg.html(msg);
    }

    // 오류 발생한 객체로 포커스 옮김
    function setFocusToInputObject(oInput) {
        oInput.focus();
    }

    function showSuccessMsg(oMsg) {
        oMsg.html(msg);
        oMsg.css('color', 'green');
    }

    // 문제 없으면 오류 메시지 없애기
    function hideMsg(oMsg) {
        oMsg.css('display', 'none');
    }

    // ------------- username ----------------
    var nameFlag = false;

    $("#username").blur(function(){
        nameFlag = false;
        checkName("first");
    });

    function checkName(evnet) {
        if (nameFlag)
            return true;

        var name = $("#username").val();
        var oMsg = $("#nameMsg");
        var oInput = $("#username");

        if (name == "") {
            showErrorMsg(oMsg, "필수 정보입니다. 반드시 입력해주세요!");
            setFocusToInputObject(oInput);
            return false;
        }

        const eValid = (/^[가-힣a-zA-Z0-9]*$/).test(name);
        
        if (!eValid) {
            showErrorMsg(oMsg, "닉네임은 한글,영어,숫자만 가능합니다. 다시 입력해주세요.");
            setFocusToInputObject(oInput);
            return false;
        }

        nameFlag = false;
        let username = $('input[name=username]').val();
        console.log("입력한 nickname : ", username);

        $.ajax({
            type: 'POST',
            url: '/accounts/check-name/',
            data: {username: username},
            success: function (response) {

                if (response.result === 'exist') {
                    showErrorMsg(oMsg, "이미 사용 중인 닉네임입니다. 다시 입력하세요.");
                    setFocusToInputObject(oInput);
                } else {
                    hideMsg(oMsg);
                    nameFlag = true;
                }
            },

            error: function () {
                alert("서버 요청 실패!");
            }
        })

        return true;
    }

    function memberUpdate() {

        var flag = false;

        const g_array = new Array();
        $('input:checkbox[name=pf_genre]:checked').each(function(){
            g_array.push(this.value);
        });

        var pref_genre = $("#preference_genre").val(g_array);

        if (g_array.length < 1 || g_array.length > 3 || pref_genre == "") {
            showErrorMsg($("#genreMsg"), "선호 장르는 반드시 1~3개를 선택해야 합니다.");
            return;
        } else {
            hideMsg($("#genreMsg"));
        }

        flag = true;

        var form = document.updateForm;
        console.log("email >>>> ", form.email.value);
        console.log("username >>>> ", form.username.value);
        console.log("birth >>>> ", form.birth.value);
        console.log("gender >>>> ", form.gender.value);
        console.log("genre >>>> ", form.preference_genre.value);


        form.action = "/accounts/update/";
        form.submit();

    }

</script>

{% endblock scripts %}