<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MY PAGE</title>
</head>
<body>

    <h1> MY PAGE </h1>

    <p> <a href="{% url 'users:update' %}"> 정보 수정 </a> </p>
    <p> <a href="{% url 'users:user_mvlog' %}"> 영화 기록 </a> </p>
    <p> <a href="{% url 'users:user_wish' %}"> 위시리스트 </a> </p>

    <hr/>

    {% if stats %}

        <h3> 별점 분포 </h3>
        <p> 별점 평균 : {{ stats.grades.mean_val | floatformat:2 }} </p>
        <p> 별점 개수 : {{ stats.grades.len_val }} </p>
        <p> 많이 준 별점 : {{ stats.grades.mode_val }} </p>

        <hr/>

        <h3> 선호 키워드</h3>
        {% for keyword, k_score in stats.keywords %}
            <p> {{ keyword }} {{ k_score }} </p>
        {% endfor %}

        <hr/>

        <h3> 선호 배우</h3>
        {% for cast, c_score in stats.casts %}
            <p> {{ cast }} {{ c_score }} </p>
        {% endfor %}

        <hr/>

        <h3> 선호 감독</h3>
        {% for director, d_score in stats.directors %}
            <p> {{ director }} {{ d_score }} </p>
        {% endfor %}

        <hr/>
        
        <h3> 선호 장르</h3>
        {% for genre, g_score in stats.genres %}
            <p> {{ genre }} {{ g_score }} </p>
        {% endfor %}

        <hr/>

        <h3> 감상 시간 </h3> {{ stats.times.hour }}시간 {{ stats.times.minute }}분
        
    {% endif %}

</body>
</html>